@import "./font.css";
@import "./tailwind.css";
/* global */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* fonts */
.font-phattype{
    font-family: Phattype, sans-serif;
}
.app-title1{
    font-family: Phattype, sans-serif;
    @apply font-semibold text-2xl my-4;
}
/* app-layout */
.App{
    height: 100vh;
    overflow: hidden;
}
.app-brand{
    @apply inline-flex items-center cursor-pointer;
}
.app-connect{
    @apply px-4 inline-flex items-center;
}
.app-footer{
    @apply text-center p-2;
}
.auth-section {
    @apply flex justify-end text-right p-4;
}
/*  page-layout */
.page-wrapper {
    @apply p-4;
}
.page-center{
    @apply flex flex-col items-center;
}
/* transtion-fade */
.fade-enter {
    opacity: 0;
    transform: translate(25px, 0);
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transform: translate(0, 0);

    transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
    opacity: 1;
    transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transform: translate(30px, 0);

    transition: opacity 250ms ease-out, transform 300ms ease;
}
  